@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';


.auth  {
    padding: 5rem;

    &__title {
        text-align: center;
        margin-bottom: 2.5rem;
        color: $color-grey-dark-2;
    }

    &__description {
        color: $color-grey-dark-3;
        line-height: 2.5rem;
        margin-bottom: 2.5rem;

        &:last-of-type {
            margin-bottom: 4.5rem;
        }
    }

    &__form {
        @include displayFlexCenter;
        flex-direction: column;
    }

    &__form-group {
        width: 100%;
        position: relative;
        margin-bottom: 4rem;
    }

    $input-padding: .5rem 2rem;

    &__input {
        display: block;
        width: 100%;
        height: 5rem;
        border-radius: 3px;
        padding: $input-padding;

        background-color: $color-grey-light-1;
        color: $color-grey-dark-1;

        &:focus {
            border-bottom:3px solid $color-secondary;

            &:invalid {
                border-bottom:3px solid $color-primary;
            }
        }

        &:placeholder-shown + label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(0);
        }

        & + label {
            width: 100%;
            height: 100%;
            pointer-events: none;
            padding: $input-padding;

            position: absolute;
            top: 0;

            @include labelFont;

            opacity: 1;
            visibility: visible;
            transition: all .2s;
            transform: translateY(5rem);
        }   
    }

    &__button {
        width: 100%;
        padding: 1.5rem;
        border: none;
        border-radius: 3px;
        background-image: $gradient-light;
        font-size: 1.3rem;
        @include labelFont;
        transition: all .2s;

        @include buttonAnimation;
    }

    &__link {
        align-self: flex-end;
        display: block;
        padding: 1rem;
        color: $color-grey-light-4;
        border: none;
        font-size: $default-font-size;
        cursor: pointer;

        &:hover {
            color: $color-grey-dark-3;
        }
    }


    .error-message,
    .success-message {
        padding-bottom: 2rem;
        text-align: center;
    }
}