@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.birthday-form {
    padding: 3rem 0;
    position: relative;
    z-index: 10000;

    @include respond(phone) { @include displayFlexCenter }

    &__form {
        display: grid;
        grid-template-columns: 10% [col-1-start] $calendar-date-width [col-1-end col-2-start] 1fr [col-2-end] 10%;
        grid-gap: 2rem;

        & > .date-display {
            grid-column: 1 / -1;
        }

        @include respond(phone) {
            padding: 3rem 0;
            width: 100vw;
            height: 100vh;
            overflow-y: scroll;
        }
    }

    &__group {
        @include displayFlexCenter;
        // width: 80%;
        margin: 0 auto;
        position: relative;
        grid-column: 1 / -1;

        &--name {
            width: 100%;
            grid-row: 1;
            grid-column: col-2-start / col-2-end;

            @include respond(phone) { grid-column: col-1-start / col-2-end; }

            @include respond(phone-small) { grid-column: 1 / -1; }
        }

        &--date {
            grid-row: 1;
            grid-column: col-1-start / col-1-end;

            // to fit the content inside for positioning transparent select tag over month/date number
            width: $calendar-date-width;
            padding: 2rem 0;

            & .calendar-date {
                color: $color-white;
                background-image: $gradient;
            }

            @include respond(phone) {
                grid-row: 2;
                grid-column: 1 / -1;
            }
        }

        &--btns {
            width: 80%; 

            @include respond(phone) { width: 100%; }
        }
    }

    &__name {
        width: 100%;
        height: $calendar-date-width;
        padding: 2rem 2rem;
        border-radius: 0;
        border-bottom:  1px solid $color-grey-light-3;
        transition: all .2s;
        text-align: center;

        &:focus {
            border-bottom:3px solid $color-secondary;

            &:invalid {
                border-bottom:3px solid $color-primary;
            }
        }

        &:placeholder-shown + label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(0);
        }


        & + label {
            @include displayFlexCenter;
            width: 100%;
            height: 100%;
            pointer-events: none;

            position: absolute;
            top: 0;

            text-align: center;
            text-transform: uppercase;
            @include labelFont;

            opacity: 1;
            visibility: visible;
            transition: all .2s;
            transform: translateY($calendar-date-width / 2 * -1);
        }
    }

    %date-select-base {
        width: $calendar-date-width / 2;
        height: $calendar-date-width / 2;
        font-size: $default-font-size;
        position: absolute;
        z-index: 1;
        cursor: pointer;
        opacity: 0;
    }

    $quarter-calendar-date-width: $calendar-date-width / 4;
    &__month-select {
        @extend %date-select-base;
        transform: translate(-1 * $quarter-calendar-date-width, -1 * $quarter-calendar-date-width);
    }
    &__date-select {
        @extend %date-select-base;
        transform: translate($quarter-calendar-date-width, $quarter-calendar-date-width);
    }

    &__btn { 
        display: inline-block;
        width: 30%;
        padding: 1.5rem 2rem;
        border: none;
        overflow: hidden;
        position: relative;
        border-radius: 10rem;
        background-image: $gradient-light;
        margin: 0 2.5%;
        color: $color-grey-dark-2;
        background-size: 200%;

        &:nth-of-type(2) {
            background-position: right;
        }
    }
}