@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

$date-width: 4rem;

.birthday-card {
    &__list {
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(5rem, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
        grid-gap: 2rem;
    }

    &__item {
        display: flex;
        align-items: flex-end;
        border: 1.5rem solid #fff;
        position: relative;
        cursor: pointer;
        box-shadow: $shadow-light-1;
    }

    &__month {
        font-size: $default-font-size;
        color: $color-grey-dark-2;

        position: absolute;
        top: 0; 
        left: 0;
        width: $date-width;
        height: $date-width;
        padding-left: .5rem;
        clip-path: polygon(0 0, 100% 0, 0 100%);

        background-color: $color-white;
    }

    &__date {
        font-size: $default-font-size;
        color: $color-grey-dark-2;
        margin-left: 2.5rem;
        margin-bottom: .3rem;
    }

    &__name {
        padding: 1rem;
        flex: 1;
        display: flex;
        justify-content: center;
    }
}