@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.body {
    padding: 3rem 5rem;
    margin-bottom: auto;
    overflow-y: scroll;
    height: 65vh;

    @include respond(tab-port) {
        height: 75vh;
    }

    @include respond(phone) {
        height: 70vh;
    }
}