@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.button {
    text-align: center;
    display: block;
    width: 20rem;
    height: 5rem;
    border-radius: 100px;
    margin: 0 auto;
    border: none;
    background: $gradient-light;
    position: relative;
    cursor: pointer;
    transition: all .2s;

    @include buttonAnimation;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: $gradient-light;
        width: 20rem;
        height: 5rem;
        border-radius: 100px;
        z-index: -1;
        opacity: 1;
        transform: scale(1);
        transition: all .3s;
    }

    &:hover::after {
        opacity: 0;
        transform: scale(1.5);
    }
}