@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.calendar-date {
    width: 8rem;
    height: 8rem;
    font-size: 2.4rem;
    display: flex;
    position: relative;

    & > span {
        flex: 1;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__month {
        padding: .25em 0 0 .25em;
    }


    &__date {
        padding: 0 .25em .25em 0;
        align-self: flex-end;
    }

    // line between month and date
    &::after {
        content: '';
        display: block;
        width: 2px;
        height: 100%;
        background-color: currentColor;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        left: 50%;
    }
}