@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.container {

    width: 80%;
    max-width: $display-max-width;
    min-height: 90vh;
    margin: 0 auto;
    margin-top: 5rem;
    background-color: $color-grey-light-1;
    box-shadow: $shadow-dark-1;
    
    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
        width: 100%;
        min-height: 100vh;
        margin: 0;
    }

    &__top {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        background-color: $color-white;
        border-bottom: 1px solid $color-grey-light-3;

        @include respond(tab-port) {
            position: relative;
        }
    }

    &__middle {
        padding: 3rem 5rem;
        margin-bottom: auto;
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(5rem, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
        grid-gap: 2rem;
    }

    &__bottom {
        background-color: $color-white;
        padding: 2rem 0;
        border-top: 1px solid $color-grey-light-3;
    }
}