@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.container {
    width: 80%;
    max-width: $display-max-width;
    min-height: 90vh;
    margin: 0 auto;
    background-color: $color-grey-light-1;
    box-shadow: $shadow-dark-1;
    
    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
        width: 100%;
        height: 100vh;
        margin: 0;
    }
}