@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

/////////////////////////////////////// variable
$label-heihgt: 3rem;


/////////////////////////////////////// extentions
%date-display-base {
    width: 100%;
    padding: 2rem 0;
    margin: 0 auto;
    margin-top: $label-heihgt;
    position: relative;
}

%date-display-label {
    text-align: center;
    @include labelFont;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: $label-heihgt;

    position: absolute;
    top: -1 * $label-heihgt;

    background-color: $color-grey-light-3;
}

%date-display-number {
    @include displayFlexCenter;
    width: 3rem;
    height: 3rem;
    position: relative;
    cursor: pointer;
    @include respond(phone) {
        width: 2.5rem;
        height: 2.5rem;
    }

    &::after {
        content: '';
        background-image: $gradient-dark;
        width: inherit;
        height: inherit;
        border-radius: 50%;

        position: absolute;
        left: .1rem;
        top: .2rem;

        opacity: 0;
        transform: scale(.5);
        transition: all .2s;
        z-index: -1;
    }

    &.clicked {
        color: $color-white;
    }

    &.clicked::after {
        opacity: 1;
        transform: scale(1) translateY(-.3rem);
        transition: all .2s;
    }
}

//////////////////////////////////////////// styles
.date-display {

    width: 80%;
    margin: 0 auto;
    
    @include respond(phone-small) {
        width: 100%;
    }

    &__month {
        @extend %date-display-base;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &::after { 
            content: 'Month';
            @extend %date-display-label; 
        }
    }

    &__month-number {
        @extend %date-display-number;
    }

    &__date {
        @extend %date-display-base;
        padding-right: .5rem;
        padding-left: .5rem;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
        grid-gap: 2rem;
        justify-items: center;

        @include respond(phone) {
            grid-gap: 5vw;
        }

        &::after {
            content: 'Date';
            @extend %date-display-label;
        }
    }   

    &__date-number {
        @extend %date-display-number;
    }
}