@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';


.person-detail {
    width: 100%;
    height: 100%;
    min-height: inherit;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        background-color: $color-white;
        padding: 2rem;
    }

    &__body {
        flex: 1;
        width: 100%;
        align-self: center;
        padding: 5rem;
        margin-bottom: auto;
        max-width: 90rem;

        display: grid;
        grid-template-columns: 2fr 3fr; 
        grid-row-gap: 5rem;

        overflow-y: scroll;
        height: 65vh;

        @include respond(tab-port) {
            height: 75vh;
        }

        @include respond(phone) {
            height: 70vh;
        }

        & .calendar-date {
            color: $color-white;
            z-index: 0;
            justify-self: center;

            background-image: $gradient;

            @include respond(phone-small) {
                grid-column: 1 / -1;
            }
        }
    }

    &__description {
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-template-rows: 1fr 1fr;
        align-items: baseline;

        color: $color-grey-dark-2;
        text-transform: uppercase;

        @include respond(phone-small) {
            grid-column: 1 / -1;
        }

        :nth-child(1) {
            grid-column: 1 / -1;
        }

        :nth-child(2) {
            font-size: 3.2rem;
            justify-self: center;
            font-family: fantasy;
        }
    }

    &__footer {
        background-color: $color-white;
        padding: 2rem 0;
        border-top: 1px solid $color-grey-light-3;
    }

    &__name {
        font-size: 3.2rem;
        font-weight: normal;
        margin: auto;
        background-image: $gradient-dark;
        background-clip: text;
        color: transparent;
    }

    &__button {
        display: inline-block;
        border: 1px solid $color-grey-light-3;
        position: relative;
        z-index: 0; // to put this element under birthday form
        margin-right: .5rem;
        color: $color-black;
        transition: all .3s;
        cursor:pointer;
        @include circleMiddle;
        @include buttonAnimation; 

        & i {
            font-size: 2rem;
            @include absCenter;
        }

        &--delete{
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top:0;
                left: 0;
                border-radius: 10rem;
                background-color: rgba($color-black, .2);
                transform-origin: top;
                transition: transform .3s;
            }

            &.show::after {
                transform: rotate(180deg);
            }
        }
    }

    &__button-cover {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        border-radius: 10rem;
        background-color: rgba($color-black, .2);
        transform-origin: top;
        transition: transform .3s;
        z-index: 1;

        &.remove {
            transform: rotate(-90deg);
        }
    }

}