@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.search-field {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__input {
        width: 10rem;

        @include respond(phone) {
            width: 20%;
        }

        &--month,
        &--date {
            text-align: end;
        }

        &--name {
            text-align: center;
            width: 15rem;

            @include respond(phone) {
                width: 30%;
            }
        }
    }

    &__reset-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: .8rem;
        position: relative;

        width: 3rem;
        height: 3rem;
        transform: rotate(45deg);
        background-image: $gradient-light;

        & > * {
            transform: rotate(-45deg);
        }
    }
}