@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.search-field {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__input {
        width: 10rem;

        @include respond(phone) {
            width: 20%;

            &::placeholder {
                font-size: .8rem;
            }
        }

        &--month,
        &--date {
            text-align: end;
        }

        &--name {
            text-align: center;
            width: 15rem;
            letter-spacing: initial;

            &::placeholder {
                letter-spacing: .5rem;
            }

            @include respond(phone) {
                width: 30%;
            }
        }
    }

    &__reset-btn {
        @include displayFlexCenter;

        font-size: .8rem;
        position: relative;

        width: 3rem;
        height: 3rem;
        transform: rotate(45deg);
        background-image: $gradient-light;
        border: none;

        @include respond(phone-small) {
            width: 2.5rem;
            height: 2.5rem;
            font-size: .5rem;
        }

        & > * {
            transform: rotate(-45deg);
        }
    }
}