
@mixin respond($breakpoint) {
    @if $breakpoint == phone-small {
        @media only screen and (max-width: 25em) { @content };  // 400px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };  // 600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };  // 900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };  // 1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };  // 1800px
    }
}


@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absVerticalCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin labelFont {
    color: gray;
    letter-spacing: .4rem;
}

@mixin buttonAnimation {
    &:hover {
        transform: translateY(-.2rem) ;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
    }

    &:active {
        transform: translateY(0) ;
        box-shadow: none;
    }
}

@mixin circleMiddle {
    width: $circle-size;
    height: $circle-size;
    border-radius: 100px;
}

@mixin circleLarge {
    width: $circle-size-large;
    height: $circle-size-large;
    border-radius: 100px;
}

@mixin textClip($background) {
    background: $background;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@mixin memoCardSize {
    width: $memo-card-width;
    height: $memo-card-height;
}

@mixin displayFlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}