// COLOR
$color-black: black;
$color-white: hsl(0, 0%, 100%);

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;


$color-primary-dark: rgb(250, 61, 61);
$color-primary:rgb(255, 129, 129);
$color-primary-light:rgb(255, 206, 206);


$color-secondary-dark: rgb(61, 61, 255);
$color-secondary:rgb(129, 129, 255);
$color-secondary-light:rgb(206, 206, 255);



// gradient
$gradient-dark: linear-gradient(to right bottom, $color-primary-dark, $color-secondary-dark);
$gradient: linear-gradient(to right bottom, $color-primary, $color-secondary);
$gradient-light: linear-gradient(to right bottom, $color-primary-light, $color-secondary-light);

$gradient-red: linear-gradient(to right bottom, $color-primary, $color-primary-dark);
$gradient-blue: linear-gradient(to right bottom, $color-secondary, $color-secondary-dark);

// FONT
$default-font-size: 1.6rem;
$font-size-small: 1.3rem;


// BOX SHADOW
$shadow: 0 1rem 1rem rgba($color-black, .3);
$shadow-very-light: 0 2rem 5rem rgba($color-black, .06); 
$shadow-light-1: 0 1px 1px rgba($color-black, .1);
$shadow-light-2: 0 1px 1px rgba($color-black, .3);
$shadow-dark-1: 0 2rem 6rem rgba($color-black, .4);
$shadow-inset-light: inset 0 1px 1px rgba($color-black, .1);

// BORDER RADIUS
$radius-large-1: 15px;
$radius-large-2: 10px;
$radius: 5px;
$radius-small-1: 3px;
$radius-small-2: 1px;

//GRID
$grid-width: 140rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;
$min-col-total-number: 2;
$max-col-total-number: 12;

// WIDTH
$display-max-width: 120rem;
$search-box-width: 37rem;
$search-box-width-large: 96vw;
$memo-card-width: 20rem;

// Height
$memo-card-height: 10rem;

// CIRCLE
$circle-size: 4.5rem;
$circle-size-large: 7rem;



