@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';
@import './animation.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is (if default font-size = 16px, 1rem = 10px)
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 55%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    background: $gradient;
    color: $color-grey-dark-1;
    min-height: 100vh;
}

ul {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
}

input {
    outline: none;
    letter-spacing: .5rem;
    font-size: inherit;
    border-radius: 5px;
    border: none;
}

button {
    outline: none;
    cursor: pointer;
}

// reset select style
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::-ms-expand {
    display: none;
}

.error-message {
    color: red;
}

.success-message {
    color: transparent;
    background: $gradient-dark;
    background-clip: text;
}
